<!DOCTYPE html>
<html>
<title>Restaurant summary</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<head>
<script type = "text/javascript"
         src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
       </head>
<body class="w3-light-grey w3-content" style="max-width:1600px">


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header -->
  <header id="portfolio">

    <div class="w3-container">
    <h1 align="Center"><b>Restaurant review</b></h1>
    <h3 align="Center"><b><u>[Summary Extraction]</u></b><h3>
    </div>
  </header>

  <!-- First Photo Grid-->
  <br>
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity" onclick = "sayHello()" value = "KFC">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity" onclick = "sayHello()" value = "MCD">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity" onclick = "sayHello()" value = "PizzaHut">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity" onclick = "sayHello()" value = "Dominos">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity"onclick = "sayHello()" value = "Dunkin Doughnut">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity"onclick = "sayHello()" value = "Cream Stone">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
  </div>

  <!-- Third Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity"onclick = "sayHello()" value = "Stoned monkey">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity"onclick = "sayHello()" value = "CCD">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="{{url_for('static', filename='te1.jpg')}}" alt="Norway" style="width:100%" class="w3-hover-opacity"onclick = "sayHello()" value = "Subway">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <form action = "http://localhost:5000/result" method = "POST">
        <p align="Center"><input type = "submit"  value = "Click" /></p>
     </form>
      </div>
    </div>
  </div>


<!-- End page content -->
</div>

</body>
</html>
